{% extends "base.html" %}
{% block content %}
    <section id="login" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h4>
                                <i class="fas fa-key"></i> Зміна паролю</h4>
                        </div>
                        <div class="card-body">
                            <h1>Зміна паролю</h1>
                            <p>Заповни поля у формі, щоб змінити пароль.</p>
                            <!--Alerts-->
                            {% include 'partials/_alerts.html' %}

                            <form action="." method="post">
                                {{ form.as_p }}
                                <div class="form-group">
                                    <input type="submit" value="Change"
                                           class="btn btn-secondary btn-block">
                                </div>
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
