{% extends "base.html" %}
{% block content %}
    <section id="login" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h4>
                                <i class="fas fa-key"></i> Відновити пароль</h4>
                        </div>
                        <div class="card-body">
                            {% if validlink %}
                                <p>Вкажіть двічі ваш новий пароль:</p>
                                <form action="." method="post">
                                    {{ form.as_p }}
                                    {% csrf_token %}
                                    <p><input type="submit" value="Change my password"/></p>
                                </form>
                            {% else %}
                                <p>Посилання на зміну паролю не дійсне. Можливо ви його вже
                                    використали, зробіть запит повторно.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
