<!-- Footer -->

    <section id="services" class="py-5 bg-secondary text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <i class="fas fa-comment fa-4x mr-4"></i>
                    <hr>
                    <h3>Контакти </h3>
                    <p><i class="fas fa-phone"></i> (099)-600-00-00 <br>
                        <i class="fas fa-envelope-open"></i> sofiia.kaparnyk@gmail.com <br>
                        <a href="https://www.facebook.com/">
                            <i class="fab fa-facebook" style="color: white"></i>
                        </a>
                        <a href="https://www.linkedin.com/">
                            <i class="fab fa-linkedin" style="color: white"></i>
                        </a>
                        <a href="https://www.instagram.com/">
                            <i class="fab fa-instagram" style="color: white"></i>
                        </a></p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-book-reader fa-4x mr-4"></i>
                    <hr>
                    <h3> Люди</h3>
                    <p> Наповни сві день добром <i class="fas fa-hand-holding-heart"></i></p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-book-reader fa-4x mr-4"></i>
                    <hr>
                    <h3> Книги</h3>
                    <p> Ти заслужив гарну книгу <i class="fas fa-smile-wink"></i></p>
                </div>
            </div>
        </div>
    </section>
<footer id="main-footer" class="py-4 bg-primary text-white text-center">
    Copyright &copy;
    <span class="year"></span> Book Time
</footer>