{% extends 'base.html' %}

{% block content %}

    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">Ваші Запити</h1>
                    <p class="lead">Ви Можете Редагувати Свої Запити Тут</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">

                    <li class="breadcrumb-item active"> Запити</li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'add_book' %}">
                            <i class="fas fa-plus"></i> Книги/Додати книгу</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'settings' %}">
                            <i class="fas fa-user-cog"></i> Змінити дані</a>
                    </li>
                </ol>
            </nav>
        </div>
    </section>

    <section id="dashboard" class="py-4">
    {% include 'partials/_alerts.html' %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Ласкаво прошу, {{ user.username|title }}</h2>
                    <p>Знизу знаходиться список усіх ваших запитів</p>
                    <table class="table">
                        <thead>

                        {% if inquiries %}
                            <tr>
                                <th scope="col">Назва книги</th>
                                <th scope="col">Автор книги</th>
                                <th scope="col">Дата створення запиту</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for inquire in inquiries %}
                                <tr>
                                    <td>{{ inquire.book.title }}</td>
                                    <td>{{ inquire.book.author }}</td>
                                    <td>{{ inquire.contact_date }}</td>
                                    <td>
                                        <a class="btn btn-primary btn-block" href="{% url 'listing' inquire.book.id %}">Подивитися
                                            Книгу</a>
                                    </td>
                                    <td>
                                        <form action="{% url 'delete_contact' %}" method="POST">
                                            {% csrf_token %}
                                            <input hidden name="book_id" value="{{ inquire.book.id }}">
                                            <input type="submit" value="Видалити запит"
                                                   class="btn btn-primary btn-block">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>У вас ще не має запитів.</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}