{% extends 'base.html' %}

{% block content %}

    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">Ваші Запити</h1>
                    <p class="lead">Ви Можете Редагувати Свої Запити Тут</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}">
                            <i class="fas fa-home"></i> Запити </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'add_book' %}">
                            <i class="fas fa-plus"></i> Книги/Додати книгу</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <i class="fas fa-user-cog"></i> Змінити дані
                    </li>
                </ol>
            </nav>
        </div>
    </section>

    <section id="dashboard" class="py-4">
        {% include 'partials/_alerts.html' %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Знизу ви можете змінити свої дані</p>
                    <form action="{% url 'settings' %}" method="POST"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <hr>
                        <div class="form-group row">
                            <div class="col-md-1">
                                <label class="col-form-label">Ім'я юзера:</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="username" class="form-check-inline"
                                       value="{{ owner.user.username }}" required>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <div class="col-md-1">
                                <label class="col-form-label">Номер:</label>
                            </div>
                            <div class="col-md-3">
                                <input type="tel" name="phone" class="form-check-inline"
                                       value="{{ owner.phone }}" required>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <div class="col-md-1">
                                <label class="col-form-label">Місто:</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="city" class="form-check-inline"
                                       value="{{ owner.city }}" required>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <div class="col-md-1">
                                <label class="col-form-label">Район:</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="region" class="form-check-inline"
                                       value="{{ owner.region }}" required>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <div class="col-md-1">
                                <label class="col-form-label">Вулиця:</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="street" class="form-check-inline"
                                       value="{{ owner.street }}">
                            </div>
                        </div>
                        <hr>
                        <input type="submit" value="Відправити"
                               class="btn btn-block btn-secondary">

                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}