{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">Наша Ціль</h1>
                    <p class="lead"> Зробити життя трішки легшим одній прекрасній леді <i
                            class="fas fa-hand-holding-heart"></i></p>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">
                            <i class="fas fa-home"></i> Книги</a>
                    </li>
                    <li class="breadcrumb-item active"> Про нас</li>
                </ol>
            </nav>
        </div>
    </section>

    <section id="about" class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Home Main Image -->
                    <a href="{% static 'img/mommy/with_dog.jpg' %}"
                       data-lightbox="home-images">
                        <img src="{% static 'img/mommy/with_dog.jpg' %}" alt="Book image"
                             class="img-main img-fluid mb-3"></a>
                    <!-- Thumbnails -->
                    <div class="row mb-5 thumbs">
                        <div class="col-md-2">
                            <a href="{% static 'img/mommy/in_cafe.jpg' %}"
                               data-lightbox="home-images">
                                <img src="{% static 'img/mommy/in_cafe.jpg' %}" alt=""
                                     class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="{% static 'img/mommy/at_home.jpg' %}"
                               data-lightbox="home-images">
                                <img src="{% static 'img/mommy/at_home.jpg' %}" alt=""
                                     class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="{% static 'img/mommy/in_hotel.jpg' %}"
                               data-lightbox="home-images">
                                <img src="{% static 'img/mommy/in_hotel.jpg' %}" alt=""
                                     class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="{% static 'img/mommy/document.jpg' %}"
                               data-lightbox="home-images">
                                <img src="{% static 'img/mommy/document.jpg' %}" alt=""
                                     class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="{% static 'img/mommy/after_beach.jpg' %}"
                               data-lightbox="home-images">
                                <img src="{% static 'img/mommy/after_beach.jpg' %}" alt=""
                                     class="img-fluid" style="height: 88px">
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="{% static 'img/mommy/after_hair.jpg' %}"
                               data-lightbox="home-images">
                                <img src="{% static 'img/mommy/after_hair.jpg' %}" alt=""
                                     class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <!-- Fields -->
                </div>
                <div class="col-md-6">
                    <div>
                        <div class="card-body">
                            <h2> Ти Можеш Допомогти</h2>
                            <p class="lead"> Я прошу усіх, долучитися до важливої цілі
                                - допомогти моїм мамулі у лікуванні. Будь-який вклад зробить її
                                життя трішки легшим. А в якості подяки, я подарую вам книжечку, яка
                                припаде вам до душі <i class="fas fa-praying-hands"></i></p>

                            <p class="lead"><i> Трішки детальніше про ціль сайту.</i><br>
                            </p>

                            <p class="lead"><i>Основна ціль</i> - це допогти прекрасній жінці -
                                моїй мамі, яка героїчно бореться з раком.
                                Рак виявили 6 років назад у лівій груді, який був успішно
                                прооперований і знищений за допомогою ліків і хіміотерапії.
                                Проте хвороба не здалась, і повернулась удруге, зараз рак виявили у
                                грудях, хребцях, нирках і печінці. Проте, ця героїчна жінка не
                                здається і впевнено лікується. Тому вона потребує вашої допомоги.</p><br>

                            <p class="lead">Зроби вклад, вибери книжечку і напиши мені <i
                                    class="fas fa-smile-wink"></i></p>

                            <p class="lead"> Усі реквізити і контакти знаходяться знизу сторінки <i
                                    class="fas fa-arrow-alt-circle-down"></i></p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Work -->
    <section id="work" class="bg-dark text-white text-center">
        <h2 class="display-4">Зроби Свій Вклад <i class="fas fa-hand-holding-heart"></i></h2>
        <hr>
        <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg"> Перейти до
            каталогу</a>
    </section>

    <!-- Team -->
    <section id="services" class="py-5 bg-secondary text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3">
                    <i class="fas fa-comment fa-4x mr-4"></i>
                    <hr>
                    <h3>Контакти </h3>
                    <p><i class="fas fa-phone"></i> (099)-600-72-68 <br>
                        <i class="fas fa-envelope-open"></i> sofiia.kaparnyk@gmail.com <br>
                        <a href="https://www.facebook.com/sonya.omelianets">
                            <i class="fab fa-facebook" style="color: white"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/sofiia-kaparnyk-08a3bb140/">
                            <i class="fab fa-linkedin" style="color: white"></i>
                        </a>
                        <a href="https://www.instagram.com/omelianets.sofiya28/">
                            <i class="fab fa-instagram" style="color: white"></i>
                        </a></p>
                </div>
                <div class="col-md-3">
                    <i class="fas fa-credit-card fa-4x mr-4"></i>
                    <hr>
                    <h3> Реквізити</h3>
                    <p> 5375 4141 0532 1474 <br>
                        5375 4141 0769 2161 <br></p>
                </div>
                <div class="col-md-3">
                    <i class="fas fa-book-reader fa-4x mr-4"></i>
                    <hr>
                    <h3> Люди</h3>
                    <p> Наповни свій день добром <i class="fas fa-hand-holding-heart"></i></p>
                </div>
                <div class="col-md-3">
                    <i class="fas fa-book fa-4x mr-4"></i>
                    <hr>
                    <h3> Книги</h3>
                    <p> Ти заслужив гарну книгу <i class="fas fa-smile-wink"></i></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}