{% extends 'base.html' %}
{% load static %}
{% block index %}
    <!-- Showcase -->
    <section id="showcase">
        <div class="container text-center">
            <div class="home-search p-5">
                <div class="overlay p-5">
                    <h1 class="display-4 mb-4"><a href="{% url 'about' %}" style="color: white">Познайомся
                        з нашою
                        ціллю <i class="fas fa-arrow-alt-circle-right"></i></a>

                    </h1>
                    <p class="lead">Пошук Книг Став Зовсім Простим</p>
                    <div class="search">
                        <form action="{% url 'search' %}">
                            <!-- Form Row 1 -->
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label class="sr-only">Keywords</label>
                                    <input type="text" name="keywords" class="form-control"
                                           placeholder="Ключове слово (Булгаков, Кареніна, ...)">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="sr-only">Category</label>
                                    <select name="category" class="form-control">
                                        <option selected>Категорія (Усі)</option>
                                        {% for category in categories %}
                                            <option>{{ category }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <button class="btn btn-secondary btn-block mt-4" type="submit"> Пошук
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Listings -->
    <section id="listings" class="py-5">
        <div class="container">
            <h3 class="text-center mb-3">Останні додані книги</h3>
            <div class="row">
                {% for book in books %}
                    <div class="col-md-6 col-lg-2 mb-4 col-sm-4">
                        <a href="{% url 'listing' book.id %}"
                           class=" btn-primary btn-block">
                            <div class="card listing-preview">
                                <img class="card-img-top" src="{{ book.image_main.url }}"
                                     alt="Book image">
                                <div class="card-img-overlay">
                                </div>
                        </a>
                        <div class="card-body">
                            <div class="listing-heading text-center" style="height: 60px">
                                {% if book.title|length > 24 %}
                                    <b class="text-primary">{{ book.title|title|truncatechars:24 }}</b>
                                {% else %}
                                    <b class="text-primary">{{ book.title|title }}</b>
                                {% endif %}
                                <p>
                                    {% if book.author|length > 13 %}
                                        <i class="fas fa-user-edit text-secondary"></i>
                                        {{ book.author|title|truncatechars:13 }}
                                    {% else %}
                                        <i class="fas fa-user-edit text-secondary"></i>
                                        {{ book.author|title }}
                                    {% endif %}
                                </p>
                            </div>
                            <hr>
                            <a href="{% url 'listing' book.id %}"
                               class="btn btn-primary btn-block">Детальніше</a>
                        </div>
                    </div>
                    </div>
                {% endfor %}
        </div>
        </div>
    </section>

    <section id="services" class="py-5 bg-secondary text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3">
                    <i class="fas fa-comment fa-4x mr-4"></i>
                    <hr>
                    <h3>Контакти </h3>
                    <p><i class="fas fa-phone"></i> (099)-600-72-68 <br>
                        <i class="fas fa-envelope-open"></i> sofiia.kaparnyk@gmail.com <br>
                        <a href="https://www.facebook.com/sonya.omelianets">
                            <i class="fab fa-facebook" style="color: white"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/sofiia-kaparnyk-08a3bb140/">
                            <i class="fab fa-linkedin" style="color: white"></i>
                        </a>
                        <a href="https://www.instagram.com/omelianets.sofiya28/">
                            <i class="fab fa-instagram" style="color: white"></i>
                        </a></p>
                </div>
                <div class="col-md-3">
                    <i class="fas fa-credit-card fa-4x mr-4"></i>
                    <hr>
                    <h3> Реквізити</h3>
                    <p> 5375 4141 0532 1474 <br>
                        5375 4141 0769 2161 <br></p>
                </div>
                <div class="col-md-3">
                    <i class="fas fa-book-reader fa-4x mr-4"></i>
                    <hr>
                    <h3> Люди</h3>
                    <p> Наповни свій день добром <i class="fas fa-hand-holding-heart"></i></p>
                </div>
                <div class="col-md-3">
                    <i class="fas fa-book fa-4x mr-4"></i>
                    <hr>
                    <h3> Книги</h3>
                    <p> Ти заслужив гарну книгу <i class="fas fa-smile-wink"></i></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}