{% extends 'base.html' %}
{% load static %}
{% block index %}
    <!-- Showcase -->
    <section id="showcase">
        <div class="container text-center">
            <div class="home-search p-5">
                <div class="overlay p-5">
                    <h1 class="display-4 mb-4">
                        Book Searching Just Got So Easy
                    </h1>
                    <p class="lead"> Text which encourages to search! </p>
                    <div class="search">
                        <form action="{% url 'search' %}">
                            <!-- Form Row 1 -->
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label class="sr-only">Keywords</label>
                                    <input type="text" name="keywords" class="form-control"
                                           placeholder="Keyword (Bulgakov, Karenina, etc)">
                                </div>
                                <div class="col-md-6 mb-3">
                                <label class="sr-only">Category</label>
                                <select name="category" class="form-control">
                                        <option selected>Category (All)</option>
                                    {% for category in categories %}
                                        <option>{{ category }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            </div>
                            <button class="btn btn-secondary btn-block mt-4" type="submit">Submit
                                form
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Listings -->
    <section id="listings" class="py-5">
        <div class="container">
            <h3 class="text-center mb-3">Latest Listings</h3>
            <div class="row">
                {% for book in books %}
                    <div class="col-md-6 col-lg-2 mb-4">
                        <div class="card listing-preview">
                            <img class="card-img-top" src="{{ book.image_main.url }}"
                                 alt="Book image">
                            <div class="card-img-overlay">
                                <h3>
                                    <span class="badge badge-secondary text-white">${{ book.price }}</span>
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="listing-heading text-center" style="height: 60px">
                                    <b class="text-primary">{{ book.title|title }}</b>
                                    <p>
                                        <i class="fas fa-user-edit text-secondary"></i> {{ book.author|title }}
                                    </p>
                                </div>
                                <hr>
                                <a href="{% url 'listing' book.id %}"
                                   class="btn btn-primary btn-block">More Info</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="services" class="py-5 bg-secondary text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <i class="fas fa-comment fa-4x mr-4"></i>
                    <hr>
                    <h3>Consulting Services</h3>
                    <p> Something about our great consulting service! </p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-book-reader fa-4x mr-4"></i>
                    <hr>
                    <h3> Something else</h3>
                    <p> ... </p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-book-open fa-4x mr-4"></i>
                    <hr>
                    <h3> Something else</h3>
                    <p> ...</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}