{% extends 'base.html' %}>
{% block content %}

    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">{{ book.title }}</h1>
                    <p class="lead">
                        <i class="fas fa-user-edit"></i> {{ book.author|title }}</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">Книги</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'listings' %}">Каталог</a>
                    </li>
                    <li class="breadcrumb-item active">{{ book.title|title }}</li>
                </ol>
            </nav>
        </div>
    </section>

    <!-- Listing -->
    <section id="listing" class="py-4">
    {% include 'partials/_alerts.html' %}
        <div class="container">
            <a href="{% url 'listings' %}" class="btn btn-light mb-4">Назад до каталогу</a>
            <div class="row">
                <div class="col-md-4">
                    <!-- Home Main Image -->
                    <img src="{{ book.image_main.url }}" alt="Book image"
                         class="img-main img-fluid mb-3">
                    <!-- Thumbnails -->
                    <div class="row mb-5 thumbs">
                        {% if book.image_1 %}
                            <div class="col-md-3">
                                <a href="{{ book.image_1.url }}"
                                   data-lightbox="home-images">
                                    <img src="{{ book.image_1.url }}" alt=""
                                         class="img-fluid" style="height: 60px;">
                                </a>
                            </div>
                            {% if book.image_2 %}
                                <div class="col-md-3">
                                    <a href="{{ book.image_2.url }}"
                                       data-lightbox="home-images">
                                        <img src="{{ book.image_2.url }}" alt=""
                                             class="img-fluid" style="height: 60px;">
                                    </a>
                                </div>
                                {% if book.image_3 %}
                                    <div class="col-md-3">
                                        <a href="{{ book.image_3.url }}"
                                           data-lightbox="home-images">
                                            <img src="{{ book.image_3.url }}" alt=""
                                                 class="img-fluid" style="height: 60px;">
                                        </a>
                                    </div>
                                    {% if book.image_4 %}
                                        <div class="col-md-3">
                                            <a href="{{ book.image_4.url }}"
                                               data-lightbox="home-images">
                                                <img src="{{ book.image_4.url }}" alt=""
                                                     class="img-fluid" style="height: 60px;">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <!-- Fields -->

                </div>

                <div class="col-md-8">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-secondary">
                            <i class="#"></i> К-сть сторінок:
                            <span class="float-right">{{ book.number_of_pages }}</span>
                        </li>
                        <li class="list-group-item text-secondary">
                            <i class="#"></i> Обкладинка:
                            <span class="float-right">{{ book.book_cover }}
                  </span>
                        </li>
                        <li class="list-group-item text-secondary">
                            Мова:
                            <span class="float-right">{{ book.language }}</span>
                        </li>
                        <li class="list-group-item text-secondary">
                            Видавництво:
                            <span class="float-right">{{ book.publisher }} </span>
                        </li>
                        <li class="list-group-item text-secondary">
                            Рік видання:
                            <span class="float-right">{{ book.year_of_publishing }} </span>
                        </li>
                        {% if book.translator %}
                            <li class="list-group-item text-secondary">
                                Перекладач:
                                <span class="float-right"> {{ book.translator }} </span>
                            </li>
                        {% endif %}
                        <li class="list-group-item text-secondary">
                            Стан книги (від 1 до 5):
                            <span class="float-right"> {{ book.rate }} </span>
                        </li>
                        <li class="list-group-item text-secondary">
                            Опис:
                            <span class="float-right"> {{ book.description }} </span>
                        </li>
                    </ul>
                    <button class="btn-primary btn-block btn-lg" data-toggle="modal"
                            data-target="#inquiryModal">Забрати Книгу
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- Inquiry Modal -->
    <div class="modal fade" id="inquiryModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inquiryModalLabel">Залишити Запит</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'contact' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" name="book_id" class="form-control" value="{{ book.id }}">
                            <input type="hidden" name="user_id" class="form-control" value="{{ user.id }}">
                        </div>
                        <div class="form-group">
                            <label for="book" class="col-form-label">Назва:</label>
                            <input type="text" name="book" class="form-control"
                                   value="{{ book.title }}">
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-form-label">Ім'я:</label>
                            <input type="text" name="name" class="form-control"
                                   value="{{ user.username|title }}">
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-form-label">Пошта:</label>
                            <input type="email" name="email" class="form-control" required value="{{ user.email }}">
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-form-label">Телефон:</label>
                            <input type="text" name="phone" class="form-control" value="{{ user.phone }}">
                        </div>
                        <div class="form-group">
                            <label for="message" class="col-form-label">Повідомлення:</label>
                            <textarea name="message" class="form-control"></textarea>
                        </div>
                        <hr>
                        <input type="submit" value="Відправити" class="btn btn-block btn-secondary">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
