{% extends 'base.html' %}>
{% load static %}
{% block content %}

    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">{{ book.title }}</h1>
                    <p class="lead">
                        <i class="fas fa-user-edit"></i> {{ book.author|title }}</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">Книги</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'listings' %}">Каталог</a>
                    </li>
                    <li class="breadcrumb-item active">{{ book.title|title }}</li>
                </ol>
            </nav>
        </div>
    </section>

    <!-- Listing -->
    <section id="listing" class="py-4">
        {% include 'partials/_alerts.html' %}
        <div class="container">
            <a href="{% url 'listings' %}" class="btn btn-light mb-4">Назад до каталогу</a>
            <div class="row">
                <div class="col-md-4">
                    <!-- Home Main Image -->
                    <img src="{{ book.image_main.url }}" alt="Book image"
                         class="img-main img-fluid mb-3">
                    <!-- Thumbnails -->
                    <div class="row mb-5 thumbs">
                        {% if book.image_1 %}
                            <div class="col-md-3">
                                <a href="{{ book.image_1.url }}"
                                   data-lightbox="home-images">
                                    <img src="{{ book.image_1.url }}" alt=""
                                         class="img-fluid" style="height: 60px;">
                                </a>
                            </div>
                            {% if book.image_2 %}
                                <div class="col-md-3">
                                    <a href="{{ book.image_2.url }}"
                                       data-lightbox="home-images">
                                        <img src="{{ book.image_2.url }}" alt=""
                                             class="img-fluid" style="height: 60px;">
                                    </a>
                                </div>
                                {% if book.image_3 %}
                                    <div class="col-md-3">
                                        <a href="{{ book.image_3.url }}"
                                           data-lightbox="home-images">
                                            <img src="{{ book.image_3.url }}" alt=""
                                                 class="img-fluid" style="height: 60px;">
                                        </a>
                                    </div>
                                    {% if book.image_4 %}
                                        <div class="col-md-3">
                                            <a href="{{ book.image_4.url }}"
                                               data-lightbox="home-images">
                                                <img src="{{ book.image_4.url }}" alt=""
                                                     class="img-fluid" style="height: 60px;">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <!-- Fields -->

                </div>

                <div class="col-md-8">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-secondary">
                            <i class="#"></i> К-сть сторінок:
                            <span class="float-right">{{ book.number_of_pages }}</span>
                        </li>
                        <li class="list-group-item text-secondary">
                            <i class="#"></i> Обкладинка:
                            <span class="float-right">{{ book.book_cover }}</span>
                        </li>
                        <li class="list-group-item text-secondary">
                            <i class="#"></i> Ціна:
                            <span class="float-right">{{ book.price }} грн</span>
                        </li>
                        <li class="list-group-item text-secondary">
                            <i class="#"></i> Категорії:
                            {% for category in book.category.all %}
                                <span class="float-right"> {{ category.title }} </span> <br>
                            {% endfor %}
                        </li>
                        <li class="list-group-item text-secondary">
                            Мова:
                            <span class="float-right">{{ book.language }}</span>
                        </li>
                        <li class="list-group-item text-secondary">
                            Видавництво:
                            <span class="float-right">{{ book.publisher }} </span>
                        </li>
                        <li class="list-group-item text-secondary">
                            Рік видання:
                            <span class="float-right">{{ book.year_of_publishing }} </span>
                        </li>
                        {% if book.translator %}
                            <li class="list-group-item text-secondary">
                                Перекладач:
                                <span class="float-right"> {{ book.translator }} </span>
                            </li>
                        {% endif %}
                        <li class="list-group-item text-secondary">
                            Стан книги (від 1 до 5):
                            <span class="float-right"> {{ book.rate }} </span>
                        </li>
                        <li class="list-group-item text-secondary">
                            Чи доступна для обміну:
                            <span class="float-right">
                                {% if book.can_be_exchanged %}
                                    <i class="fas fa-check"></i>
                                {% else %}
                                    <i class="fas fa-times"></i>
                                {% endif %}
                            </span>
                        </li>
                        <li class="list-group-item text-secondary">
                            Чи нова:
                            <span class="float-right">
                                {% if book.is_new %}
                                    <i class="fas fa-check"></i>
                                {% else %}
                                    <i class="fas fa-times"></i>
                                {% endif %}
                            </span>
                        </li>
                        <li class="list-group-item text-secondary">
                            Опис:
                            <span class="float-right"> {{ book.description }} </span>
                        </li>
                    </ul>
                    {% if book.owner != request.user.owner %}
                        <button class="btn-primary btn-block btn-lg" data-toggle="modal"
                                data-target="#inquiryModal">Забрати Книгу
                        </button>
                    {% else %}
                        <button class="btn-primary btn-block btn-lg" data-toggle="modal"
                                data-target="#inquiryEditModal">Редагувати Книгу
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <!-- Inquiry Modal -->
    <div class="modal fade" id="inquiryModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inquiryModalLabel">Залишити Запит</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'contact' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" name="book_id" class="form-control"
                                   value="{{ book.id }}">
                            <input type="hidden" name="user_id" class="form-control"
                                   value="{{ user.id }}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Назва:</label>
                            <input type="text" name="book" class="form-control"
                                   value="{{ book.title }}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Ім'я:</label>
                            <input type="text" name="name" class="form-control"
                                   value="{{ user.username|title }}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Пошта:</label>
                            <input type="email" name="email" class="form-control" required
                                   value="{{ user.email }}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Телефон:</label>
                            <input type="tel" name="phone" class="form-control"
                                   value="{{ user.owner.phone }}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Повідомлення:</label>
                            <textarea name="message" class="form-control"></textarea>
                        </div>
                        <hr>
                        <input type="submit" value="Відправити" class="btn btn-block btn-secondary">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Inquiry Edit Modal -->
    <div class="modal fade" id="inquiryEditModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inquiryModalLabel">Редагувати Книгу</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'edit_book' %}" method="POST"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-form-label">Назва:</label>
                            <input type="text" name="title" class="form-control"
                                   value="{{ book.title }}" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Автор:</label>
                            <input type="text" name="author" class="form-control"
                                   value="{{ book.author }}" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Нова:</label>
                            {% if book.is_new %}
                                <input type="checkbox" name="is_new" checked>
                            {% else %}
                                <input type="checkbox" name="is_new">
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <form method='post'>
                                {% csrf_token %}
                                {{ form.as_table }}
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Ціна (грн):</label>
                            <input type="number" name="price" class="form-control"
                                   value="{{ book.price }}" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Видавництво:</label>
                            <input type="text" name="publisher" class="form-control"
                                   value="{{ book.publisher }}" required>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Мова:</label>
                            <select name="language" class="form-control">
                                {% if book.language == 'UA' %}
                                    <option selected>Українська</option>
                                    <option>Російська</option>
                                    <option>Англійська</option>
                                {% elif book.language == 'RU' %}
                                    <option>Українська</option>
                                    <option selected>Російська</option>
                                    <option>Англійська</option>
                                {% else %}
                                    <option>Українська</option>
                                    <option>Російська</option>
                                    <option selected>Англійська</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Рік видання:</label>
                            <select name="year_of_publishing" class="form-control"
                                    required>
                                {% for i in year_range %}
                                    {% if book.year_of_publishing == i %}
                                        <option selected>{{ i }}</option>
                                    {% else %}
                                        <option> {{ i }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">К-сть сторінок:</label>
                            <input type="number" name="number_of_pages" class="form-control"
                                   value="{{ book.number_of_pages }}"
                                   required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Перекладач:</label>
                            <input type="text" name="translator" class="form-control"
                                   value="{{ book.translator }}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Обкладинка:</label>
                            <select name="book_cover" class="form-control">
                                {% if book.book_cover == "М'яка обкладинка" %}
                                    <option selected>М'яка обкладинка</option>
                                    <option>Тверда обкладинка</option>
                                {% else %}
                                    <option>М'яка обкладинка</option>
                                    <option selected>Тверда обкладинка</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Чи доступна для обміну:</label>
                            {% if book.can_be_exchanged %}
                                <input type="checkbox" name="can_be_exchanged" checked>
                            {% else %}
                                <input type="checkbox" name="can_be_exchanged">
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Стан:</label>
                            <select name="rate" class="form-control">
                                {% if book.rate == 1 %}
                                    <option selected>1</option>
                                {% else %}
                                    <option>1</option>
                                {% endif %}
                                {% if book.rate == 2 %}
                                    <option selected>2</option>
                                {% else %}
                                    <option>2</option>
                                {% endif %}
                                {% if book.rate == 3 %}
                                    <option selected>3</option>
                                {% else %}
                                    <option>2</option>
                                {% endif %}
                                {% if book.rate == 4 %}
                                    <option selected>4</option>
                                {% else %}
                                    <option>2</option>
                                {% endif %}
                                {% if book.rate == 5 %}
                                    <option selected>2</option>
                                {% else %}
                                    <option>5</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Опис:</label>
                            <input type="text" name="description" class="form-control"
                                   value="{{ book.description }}" required>
                        </div>
                        <div class="form-group">
                            <input type="file" name="image_main">
                        </div>
                        <hr>
                        <input hidden name="book_id" value="{{ book.id }}">
                        <input type="submit" value="Відправити" class="btn btn-block btn-secondary">
                    </form>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
